<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckb.explore.worker.mapper.LiveCellsMapper">

    <resultMap id="BaseResultMap" type="com.ckb.explore.worker.entity.LiveCells">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="capacity" column="capacity" jdbcType="BIGINT"/>
            <result property="lockScriptId" column="lock_script_id" jdbcType="BIGINT"/>
            <result property="typeScriptId" column="type_script_id" jdbcType="BIGINT"/>
        <result property="occupiedCapacity" column="occupied_capacity" jdbcType="BIGINT"/>
            <result property="blockNumber" column="block_number" jdbcType="BIGINT"/>
            <result property="blockTimestamp" column="block_timestamp" jdbcType="BIGINT"/>
            <result property="txId" column="tx_id" jdbcType="BIGINT"/>
            <result property="txHash" column="tx_hash" jdbcType="OTHER"/>
            <result property="data" column="data" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,output_id,capacity,
        lock_script_id,type_script_id,occupied_capacity,block_number,
        block_timestamp,tx_id,tx_hash,data
    </sql>
</mapper>
